{% extends "labeling/base.html" %}

{% block content %}
{% if validlink %}
<p>Please enter (and confirm) your new password.</p>
<form action="" method="post">
  {% csrf_token %}

  <!--
    <table>
    <tr>
    <td>{{ form.new_password1.errors }}
    <label for="id_new_password1">New password:</label></td>
    <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
    <td>{{ form.new_password2.errors }}
    <label for="id_new_password2">Confirm password:</label></td>
    <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
    <td></td>
    <td><input type="submit" value="Change my password" /></td>
    </tr>
    </table>
  -->


  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" name="new_password1" autocomplete="new-password" id="id_new_password1">
    <label class="mdl-textfield__label" for="id_new_password1">New password</label>
  </div>



  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" name="new_password2" autocomplete="new-password" id="id_new_password2">
    <label class="mdl-textfield__label" for="id_new_password2">Confirm password</label>
  </div>



  <input type="submit" value="Change my password" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button">


</form>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}





<script>
  $(document).ready(function() {
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function showDialogOnOpen() {
      console.log('Taking a break...');
      await sleep(80);
      console.log('show model');
      dialog.showModal()
    }

    showDialogOnOpen();
  });
</script>


{% endblock %}
