{% extends "labeling/base.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
  {{ form.email.errors }}
  {% endif %}

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="email" name="email" autocomplete="email" maxlength="254" id="id_email">
    <label class="mdl-textfield__label" for="id_email">E-mail</label>
  </div>

  <input type="submit" value="Reset password" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button btn btn-default btn-lg">

</form>



<script>
  $(document).ready(function() {
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function showDialogOnOpen() {
      console.log('Taking a break...');
      await sleep(80);
      console.log('show model');
      dialog.showModal()
    }

    showDialogOnOpen();
  });
</script>

{% endblock %}
