{% load static %}
{% csrf_token %}
<!DOCTYPE html>

<html>
  <head>
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    <title>Labeling</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script src="https://googlechrome.github.io/dialog-polyfill/dist/dialog-polyfill.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'labeling/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
    <script src="{% static 'labeling/js/script.js' %}"></script>

    <meta name="keywords" content="website">
    <meta name="description" content="website">
    <meta name="author" content="Laurens Müter">
  </head>
  <body>

    <dialog class="mdl-dialog">
      <button type="button" class="mdl-chip__action close">
        <i class="material-icons">cancel</i>
      </button>
      <div class="mdl-dialog__content">
        <p>
        You are logged in as
        </p>
        <h2>{{user}}</h2>
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" class="mdl-button mdl-js-button user-button update-password">
          Update Password
        </button>
        <!--
          <button type="button" class="mdl-button mdl-js-button user-button">
          Update E-mail
          </button>
        -->
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored close user-button logout-button">
          Log Out
        </button>
      </div>
    </dialog>

    <div class="content" id="main">

      <!-- Always shows a header, even in smaller screens. -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Twitter Labeling Tool</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout">
              {% if user.is_authenticated %} 
              <a class="mdl-navigation__link show-modal" id="login_name" href="#">
                {{ user.username }}
              </a>
              {% else %}
              <a class="mdl-navigation__link" id="login_name" href="accounts/login/">
                Login
              </a>
              {% endif %}
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Help</span>
          <span class="mdl-layout-title">Shortcuts</span>
          <nav class="mdl-navigation">
            <table>
              <tr>
                <td>
                  Next tweet
                </td>
                <td>
                  [return]
                </td>
              </tr>
              <tr>
                <td>
                  Previous tweet
                </td>
                <td>
                  [backSpace]
                </td>
              </tr>
              <tr>
                <td>
                  Menu action
                </td>
                <td>
                  Highlighted symbol
                </td>
              </tr>
            </table>
          </nav>
          <span class="mdl-layout-title">Labeling Statistics</span>
          <table>
            <tr>
              <td>
                Average Display Time
              </td>
              <td id="average-displaytime">
              </td>
            </tr>
            <tr>
              <td>
                Current Display Time
              </td>
              <td id="curr-displaytime">
              </td>
            </tr>
            <tr>
              <td>
                Number of Tweets
              </td>
              <td id="num-tweets-displayed">
              </td>
            </tr>
          </table>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content">
            <div id="tweet_text_ctontainer">
              <div id="tweet_text"></div>
              <div id="tweet_url"></div>
              <div id="tweet_labels"></div>
            </div>
            <div id="label-button-container">

            <button id="relevant" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">R</span>elevance</button>
            <ul id="label-containeris-relevant" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="relevant">
              <li class="mdl-menu__item group-green_label"><span class="shortcut">E</span>xpression of displeasure</li>
              <li class="mdl-menu__item group-green_label">Encourage <span class="shortcut">G</span>roup action</li>
              <li class="mdl-menu__item group-green_label"><span class="shortcut">F</span>irst person observation</li>
              <li class="mdl-menu__item group-green_label"><span class="shortcut">I</span>ncite to action</li>
              <li class="mdl-menu__item group-green_label"><span class="shortcut">L</span>ocation</li>
              <li class="mdl-menu__item group-green_label"><span class="shortcut">P</span>oint in time</li>
              <li class="mdl-menu__item group-green_label"><span class="shortcut">O</span>ther Relevance Type</li>
            </ul>

            <button id="media-related" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">M</span>edia</button>
            <ul id="label-containerincident-related" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="media-related">
              <li class="mdl-menu__item group-red_label"><span class="shortcut">M</span>ainstream media</li>
              <li class="mdl-menu__item group-red_label"><span class="shortcut">V</span>erified source</li>
              <li class="mdl-menu__item group-red_label"><span class="shortcut">O</span>ther source</li>
            </ul>

            <button id="incident-related" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">I</span>ncident related</button>
            <ul id="label-containerevent-related" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="incident-related">
              <li class="mdl-menu__item group-blue_label"><span class="shortcut">C</span>orona</li>
              <li class="mdl-menu__item group-blue_label"><span class="shortcut">V</span>iolence</li>
              <li class="mdl-menu__item group-blue_label"><span class="shortcut">R</span>iot</li>
              <li class="mdl-menu__item group-blue_label"><span class="shortcut">O</span>ther Incident</li>
            </ul>
<button id="behavioral-relevance" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">B</span>ehavioral relevance</button>
            <ul id="label-containerlocal" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="behavioral-relevance">
              <li class="mdl-menu__item group-yellow_label"><span class="shortcut">D</span>ialect</li>
              <li class="mdl-menu__item group-yellow_label"><span class="shortcut">L</span>ocal expression</li>
              <li class="mdl-menu__item group-yellow_label"><span class="shortcut">E</span>xpression of discomfort</li>
              <li class="mdl-menu__item group-yellow_label"><span class="shortcut">S</span>arcasm</li>
            </ul>

            <button id="event-related" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">E</span>vent related</button>

            <button id="is-related-topic" class="mdl-button mdl-js-button mdl-js-ripple-effect">Related <span class="shortcut">T</span>opic</button>

            <button id="no-labels" class="mdl-button mdl-js-button mdl-js-ripple-effect"><span class="shortcut">N</span>o Labels</button>
          </div>

          <!-- NOTE in order to update labels, also check javascript file to update variable window.labels -->

          <div class="bottom_buttons_container">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bottom_button" id="prev_tweet_button">
              Previous Tweet
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bottom_button" id="next_tweet_button">
              Next Tweet
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bottom_button" id="exclude_tweet_button">
              Exclude Tweet
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bottom_button" id="discuss_tweet_button">
              Discuss Tweet
            </button>
          </div>
        </div>
        </main>
      </div>
    </div>

    <script>
      var dialog = document.querySelector('dialog');
var showModalButton = document.querySelector('#login_name');
console.log(dialog);
console.log(showModalButton);
if (! dialog.showModal) {
  dialogPolyfill.registerDialog(dialog);
}
showModalButton.addEventListener('click', function() {
  dialog.showModal();
});
dialog.querySelector('.close').addEventListener('click', function() {
  dialog.close();
});
    </script>

  </body>
</html>

