{% extends "labeling/base.html" %}

{% block content %}
<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>



<script>
  $(document).ready(function() {
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function showDialogOnOpen() {
      console.log('Taking a break...');
      await sleep(80);
      console.log('show model');
      dialog.showModal()
    }

    showDialogOnOpen();
  });
</script>



{% endblock %}
